<div class="jumbotron" style="background: aliceblue">

    <div class="example-config">
        <p class="font-weight-normal" style="color: dodgerblue">Gestion de Parametros</p>
    </div>
    
    <kendo-grid     
        [kendoGridBinding]="parametros | async" 
        [pageSize]="10"
        [pageable]="true"
        [sortable]="true"
        [filterable]="true"
        [resizable]="true"
        [selectable]="selectableSettings" 
        (selectionChange) = "change()"
        [kendoGridSelectBy]="mySelectionKey"
        [selectedKeys]="mySelection"
        [skip]="skip"
        (pageChange)="pageChange($event)"
        [loading]="loading"
        [height]="500"
    >
    <kendo-grid-column field="name" title="Nombre">
        </kendo-grid-column>
    <kendo-grid-column field="value" title="Valor">
        </kendo-grid-column>
    <kendo-grid-checkbox-column ></kendo-grid-checkbox-column>
        </kendo-grid>
  
    <div class="row">
      <div class="col-sm-12 example-col">
        <kendo-buttongroup  [selection]="'single'" [width]="'100%'">
          <button kendoButton [toggleable]="true"  (click)="crearParametro()">Crear Parametro</button>
          <button kendoButton [toggleable]="true"  (click)="modificarParametro()">Modificar</button>
          <button kendoButton [toggleable]="true"  (click)="eliminarParametro()">Eliminar</button>
        </kendo-buttongroup>
      </div>
    </div>
  
  </div>

  <div class="example-wrapper">
      <kendo-dialog title="Confirmar" *ngIf="dialogOpened" (close)="close('dialog')" [minWidth]="200" [width]="350">
        <p style="margin: 30px; text-align: center;">Desea eliminar el Parametro seleccionada?</p>
        <kendo-dialog-actions>
          <button kendoButton (click)="confirmarEliminarParametro()" primary="true">Confirmar</button>
          <button kendoButton (click)="action()">No</button>
        </kendo-dialog-actions>
      </kendo-dialog>
    </div>
  
  
  