<div class="jumbotron" style="background: aliceblue">  
  
  <div class="example-config">
      <p class="font-weight-normal" style="color: dodgerblue">Asignar hechos</p>
  </div>
  
  <kendo-grid     
    [kendoGridBinding]="usuarios | async" 
    [pageSize]="10"
    [pageable]="true"
    [sortable]="true"
    [loading]="loading"
    [filterable]="true"
    [resizable]="true"
    [selectable]="selectableSettings" 
    (selectionChange) = "change()"
    [kendoGridSelectBy]="mySelectionKey"
    [selectedKeys]="mySelection"
    [skip]="skip"
    (pageChange)="pageChange($event)"
    [height]="500" 
  >
  <kendo-grid-column field="nickname" title="Nombre" width="100" [filterable]="false">
    </kendo-grid-column>
  <kendo-grid-column field="email" title="Mail">
    </kendo-grid-column>
  <kendo-grid-checkbox-column ></kendo-grid-checkbox-column>
    </kendo-grid>
  
  
  <div class="row">
    <div class="col-sm-12 example-col">
      <kendo-buttongroup  [selection]="'single'" [width]="'100%'">

        <button kendoButton [toggleable]="true"  (click)="asignarUsuarios()">Asignar Usuario</button>
        <button kendoButton [toggleable]="true"  (click)="cancelar()">Cancelar</button>
      </kendo-buttongroup>
    </div>
  </div>