<div class="jumbotron" style="background: aliceblue" >

  <div class="example-config">
      <p class="font-weight-normal" style="color: dodgerblue">PRUEBA</p>
  </div>
  <div class="example-config">
  <kendo-textbox-container floatingLabel="Filtrar por titulo">
    <input #titulo kendoTextBox type="text"/>
  </kendo-textbox-container>
  <kendo-textbox-container floatingLabel="Filtrar por URL">
    <input #url  kendoTextBox type="text" />
  </kendo-textbox-container>
  <kendo-dropdownlist
    [data]="estado"
    textField="text"
    valueField="value"
    [valuePrimitive]="true"
    [(ngModel)]="selectedValue"
    [ngModelOptions]="{standalone: true}"
    >
    </kendo-dropdownlist>   
<button kendoButton [toggleable]="true"  (click)="buscar(titulo.value, url.value)">Buscar</button>        
</div>

  <kendo-grid     
      [kendoGridBinding]=" listado.hechos" 
      [pageSize]=10
      [pageable]="false"
      [resizable]="true"
      [selectable]="selectableSettings" 
      (selectionChange) = "change()"
      [kendoGridSelectBy]="mySelectionKey"
      [selectedKeys]="mySelection"
      [skip]="skip"
      [loading]="loading"
      [height]="500"
      (pageChange)="pageChange($event)"
  >
  <kendo-grid-column field="titulo" title="Titulo" width="100" >
      </kendo-grid-column>
  <kendo-grid-column field="url" title="URL">
      </kendo-grid-column>
  <kendo-grid-column field="estado" title="Estado actual">
      </kendo-grid-column>
  <kendo-grid-column field="fechaRegistroCalificacion" title="Fecha de registro del Hecho">
      </kendo-grid-column>
</kendo-grid>


      <div style="text-align: center;">
          <p style="margin: 20">{{page}} de  {{totalPaginas}}</p> 
       
        <button kendoButton [toggleable]="true" [disabled]=mostrarAnt (click)="trerDatosAnterior()" style="size: 3cm">Ant</button>
        <button kendoButton [toggleable]="true" [disabled]=mostrarSig (click)="traerDatosSig()" >Sig</button>

      </div>


</div>