<div class="jumbotron" style="background: aliceblue">

  <div class="row example-wrapper">
  <div class="col-xs-60 col-sm-6 offset-sm-3 example-col">
      <div class="card">
        <div class="card-block">
          <form class="k-form">
            <fieldset>
              <legend>Crear Usuario</legend>
              <label class="k-form-field" for="readOnlyInput">
                <span>Nombre y Apellido</span>
                <input #nombre   class="form-control"  type="text" />
              </label>
                <label class="k-form-field" for="readOnlyInput">
                  <span>NickName</span>
                  <input #nickname   class="form-control"  type="text" />
                </label>
                <label class="k-form-field" for="readOnlyInput">
                  <span>Email</span>
                  <input #mail    class="form-control"type="email" placeholder="Ej.: usuario@servidor.com" (ngModelChange)="onChange($event)" />
                </label>
                <label class="k-form-field" for="readOnlyInput" *ngIf="!validEmail">
                    <legend>Ingrese email correcto.</legend>
                  </label>
                <label class="k-form-field" for="readOnlyInput">
                  <span>Telefono</span>
                  <input #telefono    class="form-control"  type="text"  />
                </label>
                
                <label class="k-form-field">
                  <span>Rol de Usuario</span>
                  <kendo-dropdownlist  [data]="roles" [(ngModel)]="rol" [ngModelOptions]="{standalone: true}">
                  </kendo-dropdownlist>                   
                </label>
                <label class="k-form-field" for="readOnlyInput">
                  <span>Password</span>
                  <input #password    class="form-control"  type="password" />
                </label>
            </fieldset>
            <div class="text-center">
              <button type="button" class="btn btn-primary btn-lg" (click)="crearUsuario(nombre.value,nickname.value, mail.value,telefono.value,password.value)">
                  Aceptar</button>
              <button type="button" class="btn btn-secondary disable btn-lg" (click)="cancelar()">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>