<div class="jumbotron" style="background: aliceblue">

    <div class="row example-wrapper">
    <div class="col-xs-60 col-sm-6 offset-sm-3 example-col">
        <div class="card">
          <div class="card-block">
            <form class="k-form">
              <fieldset>
                <legend>Verificacion de un Hecho</legend>
                  <label class="k-form-field" for="readOnlyInput">
                    <span>Titulo</span>
                    <input  value= {{hecho.titulo}} class="form-control"  type="text" readonly/>
                  </label>
                  <label class="k-form-field" for="readOnlyInput">
                    <span>Url</span>
                    <input  value= {{hecho.url}} class="form-control" type="text" readonly/>
                  </label>
                  <label class="k-form-field">
                    <span>Justificacion </span>
                    <textarea #justificacion  type="text" class="form-control"></textarea>
                  </label>
                  <label class="k-form-field">
                    <span>Calificacion</span>
                    <kendo-dropdownlist
                    [data]="calificacion"
                    textField="text"
                    valueField="value"
                    [valuePrimitive]="true"
                    [(ngModel)]="selectedValue"
                    [ngModelOptions]="{standalone: true}"
                     >
                    </kendo-dropdownlist>                   
                  </label>
                  <label class="k-form-field">
                    <span>Fecha</span>    
                    <kendo-dateinput  [(value)]="fecha"  [format]="'dd-MMM-yyyy'" readonly ></kendo-dateinput>
                  </label>
                  <label class="k-form-field" *ngIf="mostrar">
                    <span>Mecanismo Utilizados</span>
                      <tr *ngFor="let componente of mecanismos">
                        <td >{{componente.descripcion}}</td>
                      </tr>                 
                  </label>
              </fieldset>
              <div class="text-center">
                <button type="button" class="btn btn-primary btn-lg" (click)="verificar(justificacion.value)">
                    Aceptar</button>
                <button type="button" class="btn btn-secondary disable btn-lg" (click)="cancelar()">Cancelar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  
  </div>