<div class="jumbotron" style="background: aliceblue">

    <div class="row example-wrapper">
    <div class="col-xs-60 col-sm-6 offset-sm-3 example-col">
        <div class="card">
          <div class="card-block">
            <form class="k-form">
              <fieldset>
                <legend>Verificacion de un Hecho</legend>
                  <label class="k-form-field" for="readOnlyInput">
                    <span>Titulo</span>
                    <input #titulo   value= {{hecho.titulo}} class="form-control" id="readOnlyInput" type="text" readonly/>
                  </label>
                  <label class="k-form-field" for="readOnlyInput">
                    <span>Url</span>
                    <input #url   value= {{hecho.url}} class="form-control" id="readOnlyInput" type="text" readonly/>
                  </label>
                  <label class="k-form-field">
                    <span>Justificacion </span>
                    <textarea #justificacion  type="text" class="form-control"></textarea>
                  </label>
                  <label class="k-form-field">
                    <span>Calificacion</span>
                    <kendo-dropdownlist
                    [data]="calificacion"
                    [textField]="'text'"
                    [valueField]="'cal'"
                     >
                    </kendo-dropdownlist>                   
                  </label>
                  <label class="k-form-field">
                    <span>Fecha</span>    
                    <kendo-dateinput  [(value)]="fecha"  [format]="'dd-MMM-yyyy'" (valueChange)="onChange($event)" ></kendo-dateinput>
                  </label>
                  <label class="k-form-field">
                    <span>Mecanismo Utilizados</span>
                      <tr *ngFor="let componente of componentes">
                        <td>{{componente.descripcion}}</td>
                        <td>{{componente.url}}</td>
                      </tr>                   
                  </label>
              </fieldset>
              <div class="text-center">
                <button type="button" class="btn btn-primary btn-lg" (click)="verificar(justificacion, cal)">
                    Aceptar</button>
                <button type="button" class="btn btn-secondary disable btn-lg" (click)="cancelar()">Cancelar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  
  </div>