<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      Bienvenido

    </div>
    <h2>
      {{mostrar}}
    </h2>
    <br>
    <a mat-list-item (click)="gestionarMecanismosInternos()">Mecanismos Internos
    </a>
    <br>
    <a mat-list-item (click)="gestionarMecanismosExternos()">Mecanismos Externos
    </a>
    <br>
    <a mat-list-item (click)="suscripcion()">Suscribirse
    </a>
    <br>
    <div class="fadeIn first">
      <button style="background-color:blue" type="button" (click)="Usuario()" mdbBtn>Usuario
      </button>
    </div>
    <br>
    <div class="fadeIn first">
      <button style="background-color: blue" type="button" (click)="Visitante()" mdbBtn>Visitante
      </button>
    </div>
    <br>
    <div class="fadeIn first">
      <button style="background-color: blue" type="button" (click)="Citizen()" mdbBtn>Citizen
      </button>
    </div>
    <div class="fadeIn first">
      <button style="background-color: blue" type="button" (click)="crearUsuario()" mdbBtn>crearUsuario
      </button>
    </div>
    <div class="fadeIn first">
      <button style="background-color: blue" type="button" (click)="crearhecho()" mdbBtn>crear Hecho citizen
      </button>
    </div>
    <div class="fadeIn first">
      <button style="background-color: blue" type="button" (click)="listarHechosByChecker()" mdbBtn>listar hechos checker
      </button>
    </div>
    <div class="fadeIn first">
      <button style="background-color: blue" type="button" (click)="gestionNodos()" mdbBtn>Gestion perifericos admin
      </button>
    </div>
  </div>
</div>
