<div class="jumbotron" style="background: aliceblue; height: 100%" fxLayout="row" fxLayoutWrap>

  <mat-card class="card" fxFlex.lg="33" fxFlex.lt-lg="50" fxFlex.xs="100" *ngFor="let h of hechosCard">
    <mat-card-header>
      <mat-card-title>
        {{h.titulo}}
        {{h.image}}
      </mat-card-title>
      <mat-card-subtitle>
        {{h.justificacion}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img class="imagen" src="{{h.img}}">
      <a class="url" href="{{h.url}}">{{h.url}}</a>
    </mat-card-content>
    <mat-card-footer class="footer">
      {{h.calificacion}}
    </mat-card-footer>
  </mat-card>
</div>