<mat-toolbar color="primary" class="example-toolbar">
  <button mat-icon-button (click)="snav.toggle()"><i class="icon ion-md-reorder"></i></button>
  <a  *ngIf="aux" (click)="logOut()">Cerrar sesión
  </a>
  <a  href="">login
  </a>
 <!-- <a mat-list-item (click)="pruebaObs()">ProbarCosas
  </a>-->

  <h1 class="example-app-name">Fact Checher
  </h1>
</mat-toolbar>
<mat-sidenav-container  class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <mat-nav-list *ngIf="aux | async">
      <a mat-list-item (click)="gestionarMecanismosInternos()">Mecanismos Internos
      </a>
      <a mat-list-item (click)="gestionarMecanismosExternos()">Mecanismos Externos
      </a>
      <a mat-list-item (click)="suscripcion()">Suscribirse
      </a>
      <a mat-list-item (click)="Usuario()">Usuario </a>

      <a mat-list-item (click)="Visitante()">Visitante </a>

      <a mat-list-item (click)="Citizen()" >Citizen </a>

      <a mat-list-item (click)="crearUsuario()" >crear Usuario admin </a>

      <a mat-list-item (click)="gestionNodos()" >Gestion perifericos admin </a>

      <a mat-list-item (click)="listarMecanismos()" >Listar Componentes admin </a>

      <a mat-list-item (click)="crearhecho()" >crear Hecho citizen </a>

      <a mat-list-item (click)="listarHechosByChecker()" >listar hechos checker </a>

      <a mat-list-item (click)="asignarHecho()" >Asignar hechos submitter </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p>

  
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>  