<div class="jumbotron" style="background: aliceblue">

  <div class="example-config">
      <p class="font-weight-normal" style="color: dodgerblue">{{titulo}}</p>
  </div>

  <div class="example-config">
    <p class="font-weight-normal" style="color: black">{{encabezado}}</p>

</div>
  
  <kendo-grid  *ngIf="gestionar"   
      [kendoGridBinding]="mecanismos | async" 
      [pageSize]="10"
      [pageable]="true"
      [sortable]="true"
      [filterable]="true"
      [resizable]="true"
      [selectable]="selectableSettings" 
      (selectionChange) = "change()"
      [kendoGridSelectBy]="mySelectionKey"
      [selectedKeys]="mySelection"
      [skip]="skip"
      (pageChange)="pageChange($event)"
      [loading]="loading"
      [height]="500"
  >
  <kendo-grid-column  field="id" title="Titulo" width="100" >
      </kendo-grid-column>
  <kendo-grid-column field="descripcion" title="Nombre Submiter">
      </kendo-grid-column>
  <kendo-grid-column field="url" title="Usuario dio de Alta">
      </kendo-grid-column>
  <kendo-grid-checkbox-column ></kendo-grid-checkbox-column>
      </kendo-grid>


  <kendo-grid  *ngIf="verificar" 
   
      [kendoGridBinding]="mecanismosMostrar | async" 
      [pageSize]="10"
      [pageable]="true"
      [sortable]="true"
      [filterable]="true"
      [resizable]="true"
      [selectable]="selectableSettings" 
      (selectionChange) = "mecanismoSelected()" 
      [kendoGridSelectBy]="mySelectionKey"
      [selectedKeys]="mySelection"
      [skip]="skip"
      (pageChange)="pageChange($event)"
      [loading]="loading"
      [height]="500"
  >
  <kendo-grid-column  field="id" title="Identificador">
      </kendo-grid-column>
  <kendo-grid-column field="descripcion" title="Descripcion">
      </kendo-grid-column>
  <kendo-grid-column field="url" title="Url">
      </kendo-grid-column>
  <kendo-grid-column field="habilitado" editor="boolean" title="Habilitado">
      </kendo-grid-column>
  <kendo-grid-checkbox-column ></kendo-grid-checkbox-column>
      </kendo-grid>

  <div class="row">
    <div class="col-sm-12 example-col">
      <kendo-buttongroup  [selection]="'single'" [width]="'100%'">
        <button *ngIf="verificar" kendoButton [toggleable]="true"  (click)="siguiente()" aria-placeholder="Seleccione Mecanismo">Siguiente</button>
        <button *ngIf="gestionar" kendoButton [toggleable]="true"  (click)="modificar()" aria-placeholder="Modificacion Mecanismo">Modificacion</button>
        <button kendoButton [toggleable]="true"  (click)="volver()" aria-placeholder="Volver al menú">Volver</button>
    </kendo-buttongroup>
    </div>
  </div>

</div>



