<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        Ingrese sus datos personales
      </div>
  
      <!-- Login Form -->
      <form >
        <input type="text"  #mail  class="fadeIn second" name="mail" placeholder="Mail">
        <input type="password" #password  class="fadeIn third" name="password" placeholder="Password">
        <input type="button" (click)="login(mail.value,password.value)" class="fadeIn fourth" value="Login"> 
     
      </form>
    </div>
  </div>
