
mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
    background-color:floralwhite;
}
 
mat-sidenav {
    width: 100%;
}
 
main {
    padding: 5px;
}

.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 12px;
    font-weight: bold;
    font-size: 160%
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }
  
  .mat-icon-button {
    font-size: 30px;
   
  }
  .sidenav .mat-toolbar{
    width: 30%;
    color: black;
  }
  /*
  .sidenav .mat-toolbar {
    color:black;
  }
  */
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
    color: black;
    background:black;
  }
  
  .link{
    margin-left:1%;
    font-weight: bold;
    font-size: 100%;
    align-self:inherit;
    font-weight: bold;
    color:white;
    text-shadow: 3px 3px 11px rgb(101, 191, 241);  
  }
  
  .link:hover{
    color: grey;
  
  }
  
  .div-link{
    text-align: right;
  }
  
  .mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    display: block;
    height: 11px;
  }
  
  a{
    text-decoration: none;
    width: auto;
    color: white;
    font-weight: bold;
    text-shadow: 3px 3px 11px rgb(101, 191, 241);}
  
  