<div class="jumbotron" style="background: aliceblue">

  <div class="example-config">
    <p class="font-weight-normal" style="color: dodgerblue">{{titulo}}</p>
  </div>

  <div class="example-config">
    <p class="font-weight-normal" style="color: black">{{encabezado}}</p>

    <input *ngIf="id" class="fadeIn second" ng-model="id" placeholder="Id mecanismo">
    <input class="fadeIn second" ng-model="descripcion" placeholder="Descripción">
    <input class="fadeIn second" ng-model="url" placeholder="URL mecanismo">
    <label *ngIf="modificacion" class="fadeIn second" >Estado</label>
    <input *ngIf="modificacion" type="checkbox" class="fadeIn second" ng-model="estado" placeholder="Estado mecanismo">
  </div>

  <div class="row">
    <div class="col-sm-12 example-col">
      <kendo-buttongroup  [selection]="'single'" [width]="'100%'">
        <button kendoButton [toggleable]="true"  (click)="accion()" >{{funcion}}</button>
        <button kendoButton [toggleable]="true"  (click)="volver()" aria-placeholder="Volver al menú">Volver</button>
    </kendo-buttongroup>
    </div>
  </div>
</div>