<div class="jumbotron" style="background: aliceblue">

  <div class="example-config">
    <p class="font-weight-normal" style="color: dodgerblue">{{titulo}}</p>
  </div>

  <div class="example-config">
    <p class="font-weight-normal" style="color: black">{{encabezado}}</p>

    <label *ngIf="modificacion" class="k-form-field">Id</label>
    <input *ngIf="modificacion" disabled="true" class="form-control" [(ngModel)]="id">
    <br>
    <label class="k-form-field">Descripcion</label>
    <input class="form-control" [(ngModel)]="this.descripcion">
    <br>
    <label *ngIf="externo" class="k-form-field"  >URL</label>
    <input *ngIf="externo" class="form-control" [(ngModel)]="url">
    <br>
    <label *ngIf="modificacion" class="fadeIn second k-form-field"  >Habilitado</label>
    <input *ngIf="modificacion" type="checkbox" [(ngModel)]="estado">
  </div>

  <div class="row">
    <div class="col-sm-12 example-col">
      <kendo-buttongroup  [selection]="'single'" [width]="'100%'">
        <button kendoButton [toggleable]="true"  (click)="accion()" >{{funcion}}</button>
        <button kendoButton [toggleable]="true"  (click)="volver()" aria-placeholder="Volver al menú">Volver</button>
    </kendo-buttongroup>
    </div>
  </div>
</div>