<div class="jumbotron" style="background: aliceblue">

  <div class="example-config">
      <p class="font-weight-normal" style="color: dodgerblue">Gestion Nodos Perifericos</p>
  </div>
  <div class="example-config">
    <p class="font-weight-normal" style="color: dodgerblue">Seleccione un Nodo</p>
</div>
  
  <kendo-grid     
      [kendoGridBinding]="perifericos | async" 
      [pageSize]="10"
      [pageable]="true"
      [sortable]="true"
      [filterable]="true"
      [resizable]="true"
      [selectable]="selectableSettings" 
      (selectionChange) = "change()"
      [kendoGridSelectBy]="mySelectionKey"
      [selectedKeys]="mySelection"
      [skip]="skip"
      (pageChange)="pageChange($event)"
      [loading]="loading"
      [height]="500"
  >
  <kendo-grid-column field="id" title="Identificacion" >
  </kendo-grid-column>
  <kendo-grid-column field="descripcion" title="Descripcion" >
      </kendo-grid-column>
  <kendo-grid-column field="habilitado" editor="boolean" title="Habilitado" >
      </kendo-grid-column>
  <kendo-grid-column field="usuario" title="Usuario">
      </kendo-grid-column>
  <kendo-grid-checkbox-column ></kendo-grid-checkbox-column>
      </kendo-grid>

  <div class="row">
    <div class="col-sm-12 example-col">
      <kendo-buttongroup  [selection]="'single'" [width]="'100%'">
        <button kendoButton [toggleable]="true"  (click)="crearNodo()">Crear Nodo</button>
        <button kendoButton [toggleable]="true"  (click)="modificarNodo()">Modificar Nodo</button>
      </kendo-buttongroup>
    </div>
  </div>

</div>


